h1 {
    text-align: center;
}

#cards-container {
    display: flex;
}

.card-display {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    flex: 1;
}

.card-display img {
    border-radius: 10px;
    width: 180px;
    height: 252px;
}

.card-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
}

/* #cards-container:nth-child(1) {
    order: 2;
}
#cards-container:nth-child(2) {
    order: 1;
}
#cards-container:nth-child(3) {
    order: 3;
} */

.card-stack img {
    border-radius: 10px;
    height: 180px;
    width: 252px;
}

.game-btn {
    border-radius: 10px;
    background-color: #724c29;

    color: #f8d868;
    font-size: 24px;

    width: 180px;
    height: 50px;
}

.card-right {
    align-items: flex-end;
}
