@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

:root {
    --border-radius: 10px;
    --color-cream: #f8f8f2;
    --color-grey: #5b5b5b;
    --color-dark-grey: #2a2a2a;
    --color-light-grey: #9b9b9b;
    --color-red: #763334;
    --color-light-red: #763334;
    --color-blue: #354c75;
    --color-light-blue: #4671a6;
    --color-gold: #724c29;
    --color-light-gold: #a76d37;
    --color-green: #317552;
    --color-light-green: #49a54a;
    --color-purple: #5d3d61;
    --color-light-purple: #9e4a85;
    --color-teal: #2e6a6e;
    --color-light-teal: #31acaa;

    --card-header-height: 30%;
    --card-width: 24rem;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    color: rgb(61, 61, 61);
}

.hidden {
    display: none !important;
}

h1 {
    text-align: center;
}

.card-display {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--color-grey);
    padding: 1rem;
    border-radius: var(--border-radius);
    box-shadow: 1px 1px 10px 2px var(--color-light-grey);
    background-color: #f9eac6;
    width: var(--card-width);
}

.card-display.grey {
    border-color: var(--color-grey);
    box-shadow: 1px 1px 10px 2px var(--color-light-grey);
}

.card-points.grey {
    background-color: var(--color-grey);
}

.card-display.red {
    border-color: var(--color-red);
    box-shadow: 1px 1px 10px 2px var(--color-light-red);
}

.card-points.red {
    background-color: var(--color-red);
}

.card-display.blue {
    border-color: var(--color-blue);
    box-shadow: 1px 1px 10px 2px var(--color-light-blue);
}

.card-points.blue {
    background-color: var(--color-blue);
}

.card-display.green {
    border-color: var(--color-green);
    box-shadow: 1px 1px 10px 2px var(--color-light-green);
}

.card-points.green {
    background-color: var(--color-green);
}

.card-display.gold {
    border-color: var(--color-gold);
    box-shadow: 1px 1px 10px 2px var(--color-light-gold);
}

.card-points.gold {
    background-color: var(--color-gold);
}

.card-display.purple {
    border-color: var(--color-purple);
    box-shadow: 1px 1px 10px 2px var(--color-light-purple);
}

.card-points.purple {
    background-color: var(--color-purple);
}

.card-display.teal {
    border-color: var(--color-teal);
    box-shadow: 1px 1px 10px 2px var(--color-light-teal);
}

.card-points.teal {
    background-color: var(--color-teal);
}

.card-display img {
    border-radius: var(--border-radius);
    width: 180px;
    height: 252px;
}

.card-content {
    display: flex;
}

.card-description {
    padding: 0 1rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-points {
    background-color: var(--color-grey);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    text-align: right;
}

.card-right .card-points {
    text-align: left;
}

.card-points-value {
    font-size: 1.8rem;
    font-weight: bold;
}

.card-points-text {
    font-size: 0.8rem;
}

.card-stack img {
    border-radius: 10px;
    height: 180px;
    width: 252px;
}

.card-stack {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 5rem;
}

.game-btn {
    border-radius: 10px;
    background-color: #724c29;

    color: #f8d868;
    font-size: 24px;
    box-shadow: 2px 3px;

    width: 180px;
    height: 50px;
}

.card-right {
    align-items: flex-end;
}

.card-right .card-content {
    flex-direction: row-reverse;
}

.card-right p {
    text-align: right;
}

.score-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

#players-ui-component {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.player-container {
    width: var(--card-width);
    height: 10rem;
    border: 3px solid;
    border-radius: var(--border-radius);
}

.player-color-blue {
    border: 3px solid var(--color-blue);
}

.player-color-red {
    border: 3px solid var(--color-red);
}

.player-color-purple {
    border: 3px solid var(--color-purple);
}

.player-color-green {
    border: 3px solid var(--color-green);
}

.player-card-header {
    height: var(--card-header-height);
    background-color: #9b9b9b;
    color: var(--color-cream);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player-card-header h4 {
    margin-top: 0;
    text-transform: uppercase;
}

.player-color-blue .player-card-header {
    background-color: var(--color-blue);
}

.player-color-red .player-card-header {
    background-color: var(--color-red);
}

.player-color-purple .player-card-header {
    background-color: var(--color-purple);
}

.player-color-green .player-card-header {
    background-color: var(--color-green);
}

.player-card-body {
    height: calc(100% - var(--card-header-height));
    background-color: #fef7c3;
    color: var(--color-dark-grey);
    padding: 1rem;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-text {
    font-size: 1.25rem;
}

.player-score {
    font-weight: bold;
    font-size: 4rem;
}

#cards-container {
    display: flex;
    justify-content: space-evenly;
}

.zero-score-player {
    opacity: 0.3;
}
